<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('./partials/head.ejs')  %> 
    <title>Iniciar sesión</title>
    <!--HOJA DE ESTILO-->
    <link href="/css/styles.css" rel="stylesheet">`
    <link href="/css/login.css" rel="stylesheet">`
</head>
<!--BODY-->
<body>
    <!--HEADER-->
    <%- include('./partials/header.ejs')  %> 
    <!--MAIN -->
    <main class="register">
      
        <form action="/user/login/" method="POST" class="form-register" id="form-register">
            <h1 class="login">INICIAR SESION</h1>
            <div class="div-form-login">
                <!-- USUARIO -->
                <div class="group-register" id="grupo-email">
                        <input required type="text" class="input-text" id="usuario"  name ="email"><span class="barra"></span>
                        <label for="usuario" class="lbl-text">Correo electronico</label>
                        <i class="formularioValidacionEstado fa-solid fa-circle-xmark"></i>
                        <p class="formularioInputError">Ingrese un mail valido.</p>
                        <div class="error">
                            <% if(locals.errors &&errors.email ) {%>
                              
                                <p>¡¡¡¡<%= errors.email.msg %>!!!!</p> 
                              
                            <% } %>
                        </div>
                    </div>
                    
                    <!-- CONTRASENA -->
                    <div class="group-register" id="grupo-contrasenia">
                        <input required type="password" class="input-text" id="contrasenia" name="contrasenia"><span class="barra"></span>
                        <label for="contrasenia" class="lbl-text">Contraseña</label>
                        <i class="formularioValidacionEstado fa-solid fa-circle-xmark"></i>
                        <p class="formularioInputError">Ingrese su contraseña.</p>
                    </div>
                    
                    <div class="formularioMensaje" id="formularioMensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                    </div>
                    <div class="error2">
                        <% if(locals.errors &&errors.password ) {%>
                          
                         <p><%= errors.password.msg %></p> 
                      
                        <% } %>
                    </div>
                    
                    <button type="submit" class="corrido">Iniciar Sesion</button>
                    <p class="login"><a href="/user/registro">¿No estas registrado? Crea tu cuenta acá!</a></p>
                </div>
            </div>
            <div >
                <label >
                    <input type="checkbox"  name="remember_user">Recordar mi usuario
                </label>
            </div>
            
            
            
        </form>
        
        
    </main>
    <script src="/validations/login.js"></script>
<!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %> 