<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('./partials/head.ejs')  %> 
    <title>Modificar Producto</title>
    <link href="/css/styles.css" rel="stylesheet">`
    <link href="/css/product-edit-form.css" rel="stylesheet">`
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header.ejs')  %> 
    <!--MAIN-->
    <main class="register">
        <!--FORMULARIO DE EDICION DE PRODUCTO-->
        <form action="/productos/editar/<%=producto.producto_id%>?_method=PUT" method="POST" class="form-register" id="form-edit" enctype="multipart/form-data">
            <h1 class="form-edit">Editar producto: <%=producto.producto_id%></h1>
            <div class="div-form-register">
                <!--NOMBRE DEL PRODUCTO-->
                <div class="group-register" id="grupo-nombre">
                    <input required type="text" class="input-text" id="nombre" name="nombre" value="<%=producto.nombre %>"><span class="barra"></span>
                    <label for="nombre" class="lbl-text">Nombre del producto</label>
                </div>
                <!--MARCA-->
                <div class="group-register" id="group-marca">
                    <input required type="text" class="input-text" id="marca" name="marca" value="<%=producto.marca %>"><span class="barra"></span>
                    <label for="marca" class="lbl-text">Marca</label>
                </div>
                <!--TAMAÑO-->
                <div class="group-register" id="grupo-tamaño">
                    <input required type="text" class="input-text" id="tamaño" name="tamanio" value="<%=producto.tamanio%>"><span class="barra"></span>
                    <label for="tamaño" class="lbl-text">Tamaño</label>
                </div>
                <!--COLOR-->
                <div class="group-register" id="grupo-color">
                    <input required type="text" class="input-text" id="color" name="color" value="<%=producto.color%>"><span class="barra"></span>
                    <label for="color" class="lbl-text">Color</label>
                </div>
                <!--PRECIO-->
                <div class="group-register" id="grupo-precio">
                    <input required type="text" class="input-text" id="precio" name="precio" value="<%=producto.precio%>"><span class="barra"></span>
                    <label for="precio" class="lbl-text">Precio</label>
                </div>
                <!--FABRICANTE-->
                <div class="group-register" id="grupo-fabricante">
                    <input required type="text" class="input-text" id="fabricante" name="fabricante" value="<%=producto.fabricante%>"><span class="barra"></span>
                    <label for="fabricante" class="lbl-text">Fabricante</label>
                </div>
                <!--DESCUENTO-->
                <div class="group-register" id="grupo-descuento">
                    <input required type="text" class="input-text" id="descuento" name="descuento" value="<%=producto.descuento%>"><span class="barra"></span>
                    <label for="descuento" class="lbl-text">Descuento</label>
                </div>
                <!--MODELO-->
                <div class="group-register" id="grupo-modelo">
                    <input required type="text" class="input-text" id="modelo" name="modelo" value="<%=producto.modelo%>"><span class="barra"></span>
                    <label for="modelo" class="lbl-text">Modelo</label>
                </div>
                <!--STOCK-->
                <div class="group-register" id="grupo-stock">
                    <input required type="number" class="input-text" id="stock" name="stock" value="<%=producto.stock%>"><span class="barra"></span>
                    <label for="stock" class="lbl-text">Stock</label>
                </div>
                <!--CATEGORIA-->
                <section class="categorias"> Categorias:
                    <% categoriasEdit.forEach(categoria => { %>
                        <div class="categoria">
                            <label for="categoria"><%=categoria.nombre %> </label>
                            <input type="checkbox" name="categoria" value=<%=categoria.id%> 
                            <% if (categoria.estado) { %>
                                checked
                            <% } %> >
                        </div>
                    <% }) %>
                </section>
                <!--FOTO-->
                <div class="group-register" id="cargar-imagen">
                    <input required type="file" accept="image/png,image/jpeg" class="input-img" id="foto" name="img">
                </div>
                <!--DESCRIPCION-->
                <div class="group-register" id="grupo-descripcion">
                    <label for="descripcion" class="descripcion">Descripción</label><br>
                    <textarea class="descripcion" name="descripcion" id="descripcion" cols="30" rows="6"
                    value="<%=producto.descripcion%>"><%=producto.descripcion%></textarea>
                </div>
            </div>
                <!--SUBMIT / RESET-->
                <button type="submit">Editar</a></button>
                <button type="reset">Restablecer</a></button>
        </form>
    </main>
<!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %>